body {
  margin: 0;
  overflow-x: hidden;
}

.bg-black {
  background-color: black;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flow-wrap {
  flex-flow: column wrap;
}

.color-white {
  color: white;
}

nav {
  background-color: #d3564a;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  z-index: 6;
  width: 100%;
}

.logo {
  width: 162px;
  padding-top: 0.5em;
}

.logo img {
  max-width: 200px;
  height: auto;
  color: white;
  padding-bottom: 10px;
}

.nav-icons-wrapper {
  margin: 0 auto;
  width: 215px;
}

.socialmedia-icons {
  margin-bottom: 1.5em;
  padding-left: 0;
}

.socialmedia-link {
  margin-right: 3em;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(111%) contrast(102%);
}

.nav-icons-wrapper ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.socialmedia-icons li {
  margin: 0 3px;
}

main {
  padding-top: 85px;
}

.border-shadow {
  box-shadow: 0 0 15px black;
}

.applyButton {
  padding: 0.5em;
  border: 5px;
  background-color: cornflowerblue;
}

.map iframe {
  width: 100%;
  height: 400px;
}

.signup-form {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .signup-form {
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-links {
    flex-direction: row;
  }
}

.footer-subscribe {
  padding-top: 2em;
}

.footer-nav {
  padding: 2em 0;
}

.footer-left,
.footer-right {
  flex: 1;
}

.subscribe-input {
  background-color: transparent;
}

.footer-about {
  margin-top: 2em;
}
